@mixin languagesUsed{
    .languagesUsed {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 7px;

        img {
            width: 20px;
        }
        
    }
}
@mixin project{
    border-radius: 5px;
    width: 80%;
    box-shadow: 10px 10px 10px 1px #0e1734;
    display: flex;
    place-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    background-color: rgb(73, 69, 69);

    img {
        border-radius: 5px 5px 0px 0px;
        width: 100%;
    }

    .littleDetail {
        display: block;
        width: 90%;
    }

    @include languagesUsed;

}

@mixin video{
    .videoDiv{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 3rem;
        width: 100%;
    }
}
@mixin fullView{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    span {
        font-size: 20px;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 35px;
    }
    video {
        width: 90%;
    }
    img {
        width: 90%;
    }
    a {
        font-size: 20px; 
    }
    @include video;
}

//--Mobile--//

@mixin languagesUsedMobile{
    .languagesUsed {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 7px;

        img {
            width: 30px;
        }
        
    }
}
@mixin projectMobile{
    border-radius: 5px;
    width: 80%;
    box-shadow: 10px 10px 10px 1px #0e1734;
    display: flex;
    place-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    background-color: rgb(73, 69, 69);

    img {
        border-radius: 5px 5px 0px 0px;
        width: 100%;
    }

    .littleDetail {
        display: block;
        width: 90%;
    }

    @include languagesUsedMobile;

}


@mixin videoMobile{
    .videoDiv{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 3rem;
        width: 100%;
    }
}
@mixin fullViewMobile{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    span {
        font-size: 15px;
    }
    h1 {
        font-size: 25px;
    }
    video {
        width: 90%;
    }
    img {
        width: 90%;
    }
    a {
        font-size: 10px; 
    }
    @include video;
}