.movieBrowser {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.movieBrowser .videoMovieBrowser {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.movieBrowser video {
  width: 90%;
}
.movieBrowser img {
  width: 90vw;
}
.movieBrowser span {
  width: 91%;
}

.projectPlanner {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.projectPlanner .videoProjectPlanner {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.projectPlanner video {
  width: 90%;
}
.projectPlanner img {
  width: 90vw;
}
.projectPlanner span {
  width: 91%;
}

.darkKitchen {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.darkKitchen .videoDarkKitchen {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.darkKitchen video {
  width: 90%;
}
.darkKitchen img {
  width: 90vw;
}
.darkKitchen span {
  width: 91%;
}

.collection {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.collection .videoCollection {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.collection video {
  width: 90%;
}
.collection img {
  width: 90vw;
}
.collection span {
  width: 91%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  border-top: 1px solid grey;
  padding-top: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}
.footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: grey;
  font-size: 10px;
}
.footer a img {
  width: 10px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.aboutMe img {
  width: 10rem;
  border-radius: 10px;
}
.aboutMe span {
  width: 90%;
  background-color: #5c5959;
  border-radius: 15px;
  padding: 1rem;
}

.header {
  background-color: #4a4646;
  box-shadow: 0px 5px 1.5rem black;
  border-radius: 0px 0px 1rem 1rem;
}
.header ul {
  display: flex;
  margin: auto;
  margin-top: 0;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
}
.header ul li {
  list-style-type: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.presentation {
  margin-top: 2rem;
}
.presentation h1 {
  font-size: 25px;
}
.presentation span {
  font-size: 15px;
}

.languages {
  display: flex;
  overflow: auto;
  width: 80vw;
  gap: 1rem;
  justify-content: center;
  margin: auto;
  flex-direction: row;
}
.languages a img {
  width: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.projects a {
  width: 80%;
}
.projects .collectionProject {
  width: 100%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(73, 69, 69);
}
.projects .collectionProject img {
  width: 100%;
}
.projects .collectionProject .littleDetail {
  display: block;
  width: 90%;
}
.projects .collectionProject .languagesUsed img {
  width: 20px;
}
.projects .movieBrowser {
  width: 100%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(73, 69, 69);
}
.projects .movieBrowser img {
  width: 100%;
}
.projects .movieBrowser .littleDetail {
  display: block;
  width: 90%;
}
.projects .movieBrowser .languagesUsed img {
  width: 25px;
}
.projects .darkKitchen {
  width: 100%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(73, 69, 69);
}
.projects .darkKitchen img {
  width: 100%;
}
.projects .darkKitchen .littleDetail {
  display: block;
  width: 90%;
}
.projects .darkKitchen .languagesUsed img {
  width: 25px;
}
.projects .projectPlanner {
  width: 100%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(73, 69, 69);
}
.projects .projectPlanner img {
  width: 100%;
}
.projects .projectPlanner .littleDetail {
  display: block;
  width: 90%;
}
.projects .projectPlanner .languagesUsed img {
  width: 25px;
}

@media only screen and (min-width: 768px) {
  .languages {
    display: flex;
    overflow: auto;
    width: 80vw;
    gap: 1rem;
    justify-content: center;
    margin: auto;
    flex-direction: row;
  }
  .languages a img {
    width: 50px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 1rem;
    margin: 1rem 0rem 1rem 0rem;
  }
  .footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: grey;
    font-size: 20px;
  }
  .footer a img {
    width: 20px;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .aboutMe img {
    width: 10rem;
    border-radius: 10px;
  }
  .aboutMe span {
    width: 90%;
    background-color: #5c5959;
    border-radius: 15px;
    padding: 1rem;
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */