*, body {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App h3 {
  width: 80%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 25px;
  width: 90%;
  overflow: hidden;
}

.movieBrowser {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.movieBrowser .videoMovieBrowser {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.movieBrowser video {
  width: 90%;
}
.movieBrowser img {
  width: 90vw;
}
.movieBrowser span {
  width: 91%;
}

.projectPlanner {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.projectPlanner .videoProjectPlanner {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.projectPlanner video {
  width: 90%;
}
.projectPlanner img {
  width: 90vw;
}
.projectPlanner span {
  width: 91%;
}

.darkKitchen {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.darkKitchen .videoDarkKitchen {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.darkKitchen video {
  width: 90%;
}
.darkKitchen img {
  width: 90vw;
}
.darkKitchen span {
  width: 91%;
}

.collection {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.collection .videoCollection {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.collection video {
  width: 90%;
}
.collection img {
  width: 90vw;
}
.collection span {
  width: 91%;
}

.superCapsule {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.superCapsule .videoCollection {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.superCapsule video {
  width: 90%;
}
.superCapsule img {
  width: 90vw;
}
.superCapsule span {
  width: 91%;
}

.angularTuto {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}
.angularTuto .videoCollection {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.angularTuto video {
  width: 90%;
}
.angularTuto img {
  width: 90vw;
}
.angularTuto span {
  width: 91%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5rem;
  width: 90%;
  border-top: 1px solid grey;
  padding-top: 1rem;
}
.footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: grey;
  font-size: 10px;
  width: 30%;
}
.footer a img {
  width: 10px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.aboutMe img {
  width: 10rem;
  border-radius: 10px;
}
.aboutMe .spanAboutMe {
  width: 90%;
  background-color: #5c5959;
  border-radius: 15px;
  padding: 1rem;
}

.header {
  position: fixed;
  top: auto;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4646;
  width: 90%;
  box-shadow: 0px 5px 1.5rem black;
  border-radius: 1rem 1rem 0px 0px;
  z-index: 999;
}
.header img {
  width: 15px;
}
.header ul {
  display: flex;
  margin: auto;
  margin-top: 0;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
}
.header ul li {
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 5px;
}
.header ul .homeBorder {
  border-radius: 15px;
  border: 3px solid #4a4646;
}
.header ul .projectBorder {
  border-radius: 15px;
  border: 3px solid #4a4646;
}
.header ul .aboutBorder {
  border-radius: 15px;
  border: 3px solid #4a4646;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.presentation span {
  width: 90%;
  font-size: 15px;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  width: 80%;
}
.languages div a {
  width: 10vw;
}
.languages div a img {
  width: 10vw;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7rem;
  margin-bottom: 5rem;
}
.projects .collectionProjectLink, .projects .movieBrowserLink, .projects .darkKitchenLink, .projects .projectPlannerLink, .projects .superCapsuleLink, .projects .angularTutorialLink {
  border-radius: 5px;
  width: 80%;
  box-shadow: 10px 10px 10px 1px #0e1734;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  background-color: rgb(73, 69, 69);
}
.projects .collectionProjectLink img, .projects .movieBrowserLink img, .projects .darkKitchenLink img, .projects .projectPlannerLink img, .projects .superCapsuleLink img, .projects .angularTutorialLink img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.projects .collectionProjectLink .littleDetail, .projects .movieBrowserLink .littleDetail, .projects .darkKitchenLink .littleDetail, .projects .projectPlannerLink .littleDetail, .projects .superCapsuleLink .littleDetail, .projects .angularTutorialLink .littleDetail {
  display: block;
  width: 90%;
}
.projects .collectionProjectLink .languagesUsed, .projects .movieBrowserLink .languagesUsed, .projects .darkKitchenLink .languagesUsed, .projects .projectPlannerLink .languagesUsed, .projects .superCapsuleLink .languagesUsed, .projects .angularTutorialLink .languagesUsed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 7px;
}
.projects .collectionProjectLink .languagesUsed img, .projects .movieBrowserLink .languagesUsed img, .projects .darkKitchenLink .languagesUsed img, .projects .projectPlannerLink .languagesUsed img, .projects .superCapsuleLink .languagesUsed img, .projects .angularTutorialLink .languagesUsed img {
  width: 30px;
}

.collection, .movieBrowser, .darkKitchen, .projectPlanner, .superCapsule, .angularTuto {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.collection span, .movieBrowser span, .darkKitchen span, .projectPlanner span, .superCapsule span, .angularTuto span {
  font-size: 15px;
}
.collection h1, .movieBrowser h1, .darkKitchen h1, .projectPlanner h1, .superCapsule h1, .angularTuto h1 {
  font-size: 25px;
}
.collection video, .movieBrowser video, .darkKitchen video, .projectPlanner video, .superCapsule video, .angularTuto video {
  width: 90%;
}
.collection img, .movieBrowser img, .darkKitchen img, .projectPlanner img, .superCapsule img, .angularTuto img {
  width: 90%;
}
.collection a, .movieBrowser a, .darkKitchen a, .projectPlanner a, .superCapsule a, .angularTuto a {
  font-size: 10px;
  text-decoration: underline;
}
.collection .videoDiv, .movieBrowser .videoDiv, .darkKitchen .videoDiv, .projectPlanner .videoDiv, .superCapsule .videoDiv, .angularTuto .videoDiv {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 3rem;
  width: 100%;
}

.searched {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.searched select {
  margin: 2rem;
  width: 50%;
}

.projectDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}
.projectDisplay .project {
  box-shadow: 5px 5px 5px 5px #0e1734;
  width: 85%;
}
.projectDisplay h1 {
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .App {
    width: 100%;
  }
  .home h1 {
    font-size: 50px;
  }
  .home span {
    font-size: 20px;
  }
  .home h3 {
    font-size: 35px;
  }
  .collection, .movieBrowser, .darkKitchen, .projectPlanner, .superCapsule, .angularTuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .collection span, .movieBrowser span, .darkKitchen span, .projectPlanner span, .superCapsule span, .angularTuto span {
    font-size: 20px;
  }
  .collection h1, .movieBrowser h1, .darkKitchen h1, .projectPlanner h1, .superCapsule h1, .angularTuto h1 {
    font-size: 50px;
  }
  .collection h3, .movieBrowser h3, .darkKitchen h3, .projectPlanner h3, .superCapsule h3, .angularTuto h3 {
    font-size: 35px;
  }
  .collection video, .movieBrowser video, .darkKitchen video, .projectPlanner video, .superCapsule video, .angularTuto video {
    width: 90%;
  }
  .collection img, .movieBrowser img, .darkKitchen img, .projectPlanner img, .superCapsule img, .angularTuto img {
    width: 90%;
  }
  .collection a, .movieBrowser a, .darkKitchen a, .projectPlanner a, .superCapsule a, .angularTuto a {
    font-size: 20px;
    text-decoration: underline;
  }
  .collection .videoDiv, .movieBrowser .videoDiv, .darkKitchen .videoDiv, .projectPlanner .videoDiv, .superCapsule .videoDiv, .angularTuto .videoDiv {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 3rem;
    width: 100%;
  }
  .languages {
    display: flex;
    overflow: visible;
    width: 90%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .languages div a img {
    width: 5vw;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    width: 90%;
    border-top: 1px solid grey;
    padding-top: 1rem;
    margin: 1rem 0rem 1rem 0rem;
  }
  .footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: grey;
    font-size: 20px;
  }
  .footer a img {
    width: 20px;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .aboutMe img {
    width: 15rem;
    border-radius: 10px;
  }
  .aboutMe span {
    width: 90%;
    border-radius: 15px;
    padding: 1rem;
    font-size: 20px;
  }
  .aboutMe h1 {
    font-size: 50px;
  }
  .aboutMe .facePic {
    width: -moz-fit-content;
    width: fit-content;
  }
  .header {
    position: fixed;
    top: 0;
    bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4646;
    width: 90%;
    box-shadow: 0px 5px 1.5rem black;
    border-radius: 0px 0px 1rem 1rem;
    z-index: 999;
  }
  .header ul li {
    font-size: 20px;
  }
  .header ul img {
    font-size: 20px;
  }
  .projectDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
  }
  .projectDisplay h1 {
    font-size: 50px;
  }
  .projectDisplay .project {
    box-shadow: 5px 5px 5px 5px #0e1734;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */