@import "./mixins";

*, body {
    box-sizing: border-box;
    width: 100%;
}

body {
    margin: 0;
}

.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
        width: 80%;
    }

}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 25px;
    width: 90%;
    overflow: hidden;
}

.movieBrowser {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    .videoMovieBrowser {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
        width: 100%;
    }

    video {
        width: 90%;
    }


    img {
        width: 90vw;
    }

    span {  
        width: 91%;
    }
}
.projectPlanner {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    .videoProjectPlanner {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
        width: 100%;
    }

    video {
        width: 90%;
    }


    img {
        width: 90vw;
    }

    span {
        width: 91%;
    }
}
.darkKitchen {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    .videoDarkKitchen {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
        width: 100%;
    }

    video {
        width: 90%;
    }


    img {
        width: 90vw;
    }

    span {
        width: 91%;
    }
}
.collection {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    .videoCollection {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
        width: 100%;
    }

    video {
        width: 90%;
    }

    img {
        width: 90vw;
    }

    span {
        width: 91%;
    }

}
.superCapsule {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    .videoCollection {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
        width: 100%;
    }

    video {
        width: 90%;
    }

    img {
        width: 90vw;
    }

    span {
        width: 91%;
    }

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
    width: 90%;
    border-top: 1px solid grey;
    padding-top: 1rem;
    
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: grey;
        font-size: 10px;
        width: 30%;

        img {
            width: 10px;
        }

    }

}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    img {
        width: 10rem;
        border-radius: 10px;
    }

    .spanAboutMe {
        width: 90%;
        background-color: #5c5959;
        border-radius: 15px;
        padding: 1rem;
    }

}

.header {
    position: fixed;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4646;
    width: 90%;
    box-shadow: 0px 5px 1.5rem black;
    border-radius: 1rem 1rem 0px 0px;
    z-index: 999;
    img {
        width: 15px;
    }

    ul {
        display: flex;
        margin: auto;
        margin-top: 0;
        padding-left: 0;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;

        li {
            list-style-type: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            gap: 5px;
        }
        .homeBorder {
            border-radius: 15px;
            border: 3px solid #4a4646;
        }
        .projectBorder {
        border-radius: 15px;
            border: 3px solid #4a4646;
        }
        .aboutBorder {
        border-radius: 15px;
            border: 3px solid #4a4646;
        }

    }

}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    span {
        width: 90%;
        font-size: 15px;
    }

}


.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; 
    overflow-x: scroll;
    width: 80%;
    div {
        a {
            width: 10vw;
            img {
                width: 10vw;
            }
        }
    }  
    

}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
    margin-bottom: 5rem;

    .collectionProjectLink, .movieBrowserLink, .darkKitchenLink, .projectPlannerLink, .superCapsuleLink {
        @include projectMobile;
    }
}
.collection, .movieBrowser, .darkKitchen, .projectPlanner, .superCapsule {
    @include fullViewMobile;
}

.searched {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    select {
        margin: 2rem;
        width: 50%;
    }
}

.projectDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
    .project {
        box-shadow: 5px 5px 5px 5px#0e1734;
        width: 85%;
    }
    h1 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .App {
        width: 100%;
    }
    .home {
        h1 {
            font-size: 50px;
        }
        span {
            font-size: 20px;
        }
        h3 {
            font-size: 35px;
        }
    }
    .collection, .movieBrowser, .darkKitchen, .projectPlanner, .superCapsule {
        @include fullView;
    }
    .languages {
        display: flex;
        overflow: visible;
        width: 90%;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        div {
            a {
                img {
                    width: 5vw;
                }
        
            }
        }
    
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        width: 90%;
        border-top: 1px solid grey;
        padding-top: 1rem;
        margin: 1rem 0rem 1rem 0rem;
        
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            color: grey;
            font-size: 20px;
    
            img {
                width: 20px;
            }
    
        }
    
    }
    .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        img {
            width: 15rem;
            border-radius: 10px;
        }
        span {
            width: 90%;
            border-radius: 15px;
            padding: 1rem;
            font-size: 20px;
        }
        h1 {
            font-size: 50px;
        }
        .facePic {
            width: fit-content
        }    
    }
    .header {
        position: fixed;
        top: 0;
        bottom: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4a4646;
        width: 90%;
        box-shadow: 0px 5px 1.5rem black;
        border-radius: 0px 0px 1rem 1rem;
        z-index: 999;
        ul {
            li {
                font-size: 20px;
            }
            img {
                font-size: 20px;
            }
        }
    }
    .projectDisplay {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem;
        gap: 2rem;
        h1 {
            font-size: 50px;
        }
        .project {
            box-shadow: 5px 5px 5px 5px#0e1734;
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}